* {
    margin: 1rem;
    padding: 1rem;
}

body {
    background: rgb(96,122,8);
    background: radial-gradient(circle, rgba(96,122,8,1) 35%, rgba(0,0,0,1) 75%);
}

h3, h1, p{
    justify-content:center;
    color: white;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
}